<odoo>
    <data>
        <record id="account_asset.menu_action_account_asset_form" model="ir.ui.menu">
            <field name="active" eval="False"/>
        </record>

        <menuitem parent="account.menu_finance_entries_management" id="menu_action_account_asset_form"
                  action="account_asset.action_account_asset_form" sequence="101"
                  groups="account.group_account_readonly"
                  name="Immobilisations"/>

    </data>
</odoo>
